<% provide(:title, "ユーザー詳細") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <ul class="">
        <li><%= link_to "ユーザー情報編集", edit_user_path %></li>
      </ul>
    </section>
  </aside>
</div>
