<footer class="footer">
  <small>
    RailsでCRUD機能を学ぶためのポートフォリオ</a>
    by <a href="https://twitter.com/derasado">@derasado</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Link", link_path %></li>
    </ul>
  </nav>
</footer>
